@font-face {
  font-family: "Inconsolata";
  src: url(../../assets/fonts/inconsolata/Inconsolata-VariableFont.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/inter/Inter-VariableFont.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(../../assets/fonts/lora/Lora-VariableFont.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url(../../assets/fonts/lora/Lora-Italic-VariableFont.ttf);
  font-style: italic;
}

// Applying the mixins to HTML elements
h1 {
  @include typography($font-size-heading-l, $line-height-heading-l);
  @include respond-to(sm) {
    font-size: 4.8rem;
  }
  @include respond-to(phone) {
    font-size: 3rem;
  }
}

h2 {
  @include typography($font-size-heading-m, $line-height-heading-m);
  @include respond-to(phone) {
    font-size: 2rem;
  }
}

h3 {
  @include typography($font-size-heading-s, $line-height-heading-s);
}

p.body-text-m {
  @include typography($font-size-body-m, $line-height-body-m);
  @include respond-to(sm) {
    font-size: 1.6rem;
  }
  @include respond-to(phone) {
    font-size: 1.5rem;
  }
}

p.body-text-s {
  @include typography($font-size-body-s, $line-height-body-s);
  @include respond-to(sm) {
    font-size: 1.4rem;
  }
}
span.body-text-s {
  @include typography($font-size-body-s, $line-height-body-s);
}

li {
  @include typography($font-size-body-m, $line-height-body-m);
  @include respond-to(sm) {
    font-size: 1.6rem;
  }
}
